.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--blue);
  text-align: center;
  vertical-align: middle;
}

.img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

p {
  font-size: 1.7rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-word;
  color: var(--dark);
}

.date {
  font-weight: bold;
  font-size: 1.9rem;
  color: var(--dark);
}

.copyright {
  font-weight: bold;
  font-size: 1.9rem;
  color: var(--light-gray);
}

.explanation {
  color: var(--dark);
}

.close {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
  font-size: 1.9rem !important;
  padding: 1 1.5rem !important;
}