.imageContainer {
  height: 90vh;
  background-color: black;
  margin-top: 90px;
}

.title {
  font-weight: bold;
  font-size: 4rem;
  color: var(--white);
  padding: 1.5rem;
  text-align: center;
  background-color: var(--dark);
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5rem;
  cursor: pointer;
}

p {
  font-size: 1.7rem;
  font-weight: normal;
  text-align: justify;
  text-justify: inter-word;
}

.titleImage {
  font-weight: bold;
  font-size: 1.9rem;
  color: var(--white);
}

.copyright {
  font-weight: normal;
  font-size: 1.3rem;
  color: var(--white);
}

.explanation {
  font-weight: normal;
  font-size: 1.7rem;
  color: var(--white);
}
