.form {
  padding: .5rem;
  font-size: 1.7rem !important;
  margin-right: .5rem !important;
}

.search {
  font-size: 1.7rem !important;
  color: var(--white) !important;
  border-color: var(--white) !important;
  padding: .5rem 1rem !important;
  background-color: var(--blue) !important;
}